#form-builder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#inputs, #form-preview {
  width: 45%;
}

#inputs {
  border-right: 1px solid #ccc;
  padding-right: 20px;
}

#add-input {
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
input[type="radio"] {
  margin-bottom: 5px;
}
